.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  font-size: 1rem;

  img {
    position: absolute;
    width: 5em;
    height: 5em;
    opacity: 0.5;
    filter: blur(1px);
    &:nth-child(1) {
      left: 2em;
      top: 5%;
    }

    &:nth-child(2) {
      right: 2em;
      top: 10%;
    }
    &:nth-child(3) {
      left: 2em;
      top: 15%;
    }
    &:nth-child(4) {
      right: 2em;
      top: 20%;
    }
    &:nth-child(5) {
      left: 2em;
      top: 25%;
    }
    &:nth-child(6) {
      right: 2em;
      top: 30%;
    }
    &:nth-child(7) {
      left: 2em;
      top: 35%;
    }
    &:nth-child(8) {
      right: 2em;
      top: 40%;
    }
    &:nth-child(9) {
      left: 2em;
      top: 45%;
    }
    &:nth-child(10) {
      right: 2em;
      top: 50%;
    }
    &:nth-child(11) {
      left: 2em;
      top: 55%;
    }
    &:nth-child(12) {
      right: 2em;
      top: 60%;
    }
    &:nth-child(13) {
      left: 2em;
      top: 65%;
    }
    &:nth-child(14) {
      right: 2em;
      top: 70%;
    }
    &:nth-child(15) {
      left: 2em;
      top: 75%;
    }
    &:nth-child(16) {
      right: 2em;
      top: 80%;
    }
    &:nth-child(17) {
      left: 2em;
      top: 85%;
    }
    &:nth-child(18) {
      right: 2em;
      top: 90%;
    }
    &:nth-child(19) {
      left: 2em;
      top: 95%;
    }
  }
  @media (max-width: 600px) {
    font-size: 0.8rem;
  }
}
