.greeting {
  header {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s opacity;
    min-width: 14rem;
    h1 {
      span {
        white-space: nowrap;
      }
    }
  }
  .section__text {
    min-width: 14rem;
    transition: 0.3s opacity;
  }
}
