.strength {
  header {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 10rem;
    text-align: center;
  }
  .section__text {
    display: flex;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    > div {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: center;
      gap: 1rem;
      p {
        width: 14em;
      }
    }
    img {
      width: 15em;
      height: 15em;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (max-width: 550px) {
    .section__text {
      flex-direction: column;
    }
  }
}
