.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 300px;
  max-width: 100rem;
  overflow: hidden;
  position: relative;
}

.section {
  position: relative;

  span {
    color: rgb(72, 61, 218);
    font-weight: bold;
  }

  header,
  &__text {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }

  // blocks for each of elements to calculate targeted scroll position
  .block-100vh {
    height: 100vh;
  }
}
